
body{
    background: rgb(19, 17, 17) !important;
    color: #fff !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button{
    border:none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

<<<<<<< HEAD



=======
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
>>>>>>> 5255b53b3bf3c703ec6c963cc35d8b3bb1079e69
